.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.button {
  padding: 12px;
  border-radius: 12px;
  background: var(--color-accent);
  color: var(--color-light);
  transition: var(--transition);
  margin: 0 auto;
}

.button:hover,
button:focus {
  background: var(--color-accent-active);
}

.search-button {
  padding: 14px;
  width: 100%;
  max-width: 146px;
  border: none;
  outline-color: var(--color-accent);
}

@media screen and (min-width: 767px) {
  .search-button {
    margin: 0;
  }
}

@media screen and (min-with: 1440px) {
  .form {
    gap: 18px;
  }
}
