.car-card {
  position: relative;
  display: flex;
  height: 426px;
  width: 274px;
  flex-direction: column;
  background-color: var(--color-light);
  border-radius: 14px;
}

.image-thumb {
  position: relative;
  display: flex;
  width: 100%;
  height: 268px;
  margin-bottom: 14px;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  border-radius: 14px;
}

.image-thumb::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(18, 20, 23, 0.5) 2.5%,
    rgba(18, 20, 23, 0) 41.07%
  );
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  display: flex;
  margin-bottom: 8px;
  padding-right: 10px;
  justify-content: space-between;

  font-weight: 500;
}

.accent {
  color: var(--color-accent);
}

.favorite-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;

  background: none;
  border: none;
}

.favavorite-btn .icon {
  width: 100%;
  height: 100%;

  transition: stroke var(--transition), fill var(--transition);
}

.not-checked {
  fill: transparent;
  stroke: var(--color-light);
}

.favorite-btn:hover .icon.not-checked {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.checked {
  fill: var(--color-accent);
  stroke: var(--color-light);
}

.favorite-btn:hover .icon.checked {
  fill: var(--color-light);
}

.button {
  padding: 12px;
  border-radius: 12px;
  background: var(--color-accent);
  color: var(--color-light);
  transition: background 0.3s ease;
}
