.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 29px;
  margin-bottom: 50px;
}

.card-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card-item {
    flex-basis: calc(100% / 2 - (29px * 1 / 2));
  }
}

@media screen and (min-width: 1440px) {
  .card-item {
    flex-basis: calc(100% / 4 - (29px * 3 / 4));
  }
}
